In [ ]:
1 Zamień nagłówki kolumn na polskie odpowiedniki: ['TYTUŁ','ARTYSTA','ROK','MAX POZ']
2 Ilu pojedynczych artystów znajduje się na liście?
3 Które zespoły pojawiają się najczęściej na liście?
4 Zmień nagłówki kolumn, tak aby każdy z nich rozpoczynał się od wielkiej litery, a pozostałe były wprowadzone małymi literami.
5 Wyrzuć z tabeli kolumnę ‘Max Poz’.
6 W którym roku wyszło najwięcej albumów znajdujących się na liście?
7 Ile albumów wydanych między 1960 a 1990 rokiem włącznie znajduje się na liście?
8 W którym roku wydany został najmłodszy album na liście?
9 Przygotuj listę najwcześniej wydanych albumów każdego artysty, który znalazł się na liście.
10 Listę zapisz do pliku csv.

In [248]:
import pandas as pd

In [249]:
data = pd.read_html('https://www.officialcharts.com/chart-news/the-best-selling-albums-of-all-time-on-the-official-uk-chart__15551', header=0)

In [279]:
data[0].iloc[[0,1,2,-2,-1],:]

    POS                                   TITLE     ARTIST  YEAR  HIGH POSN
0     1                           GREATEST HITS      QUEEN  1981          1
1     2                    GOLD - GREATEST HITS       ABBA  1992          1
2     3    SGT PEPPER'S LONELY HEARTS CLUB BAND    BEATLES  1967          1
58   59  NEVER FORGET - THE ULTIMATE COLLECTION  TAKE THAT  2005          2
59   60                AUTOMATIC FOR THE PEOPLE        REM  1992          1

In [254]:
data[0].rename(columns={'TITLE':'TYTUŁ','ARTIST':'ARTYSTA','YEAR':'ROK','HIGH POSN':'MAX POZ'})
dfrename = data[0].rename(columns={'TITLE':'TYTUŁ','ARTIST':'ARTYSTA','YEAR':'ROK','HIGH POSN':'MAX POZ'})

In [255]:
type(dfrename)

pandas.core.frame.DataFrame

In [256]:
# 1 Change Headers to ['TYTUŁ','ARTYSTA','ROK','MAX POZ']
dfrename.rename(columns={'TITLE':'TYTUŁ','ARTIST':'ARTYSTA','YEAR':'ROK','HIGH POSN':'MAX POZ'},inplace =True)

In [278]:
dfrename.iloc[[0,1,2,-2,-1],:]

    Pos                                   Tytuł    Artysta   Rok
0     1                           GREATEST HITS      QUEEN  1981
1     2                    GOLD - GREATEST HITS       ABBA  1992
2     3    SGT PEPPER'S LONELY HEARTS CLUB BAND    BEATLES  1967
58   59  NEVER FORGET - THE ULTIMATE COLLECTION  TAKE THAT  2005
59   60                AUTOMATIC FOR THE PEOPLE        REM  1992

In [258]:
albums = dfrename

In [259]:
# 2 Unique artists on the list:
len(albums['ARTYSTA'].unique())

47

In [260]:
# 3 Most frequent bands

In [261]:
albums['ARTYSTA'].value_counts()
#arList = albums['Artysta'].value_counts()
arList[arList == max(arList)]

COLDPLAY     3
TAKE THAT    3
Name: Artysta, dtype: int64

In [ ]:
#4 Change column header. First letter Capital rest low

In [277]:
#albums.columns = albums.columns.str.title()
albums.iloc[[0,1,2,-2,-1],:]

    Pos                                   Tytuł    Artysta   Rok
0     1                           GREATEST HITS      QUEEN  1981
1     2                    GOLD - GREATEST HITS       ABBA  1992
2     3    SGT PEPPER'S LONELY HEARTS CLUB BAND    BEATLES  1967
58   59  NEVER FORGET - THE ULTIMATE COLLECTION  TAKE THAT  2005
59   60                AUTOMATIC FOR THE PEOPLE        REM  1992

In [276]:
# 5 Drop the Max Poz column
#albums.drop("Max Poz", axis=1, inplace = True)
albums.iloc[[0,1,2,-2,-1],:]

    Pos                                   Tytuł    Artysta   Rok
0     1                           GREATEST HITS      QUEEN  1981
1     2                    GOLD - GREATEST HITS       ABBA  1992
2     3    SGT PEPPER'S LONELY HEARTS CLUB BAND    BEATLES  1967
58   59  NEVER FORGET - THE ULTIMATE COLLECTION  TAKE THAT  2005
59   60                AUTOMATIC FOR THE PEOPLE        REM  1992

In [75]:
# 6 Year with the most accurances

In [297]:
pd.set_option('display.max_rows', 5)# or None  # or 1000

In [299]:
aList = albums['Rok'].value_counts()
aList

2000    4
1987    4
       ..
1967    1
2010    1
Name: Rok, Length: 37, dtype: int64

In [300]:
pd.set_option('display.max_rows', None)  
type(aList)

pandas.core.series.Series

In [301]:
aList[aList == max(aList)]

2000    4
1987    4
Name: Rok, dtype: int64

In [302]:
# 7 number of albums between 1960 and 1990(inclusive) on the list

In [303]:
len(albums[(albums['Rok']>=1960) & (albums['Rok']<1990) ])

21

In [304]:
# 8 W którym roku wydany został najmłodszy album na liście?

In [305]:
max(albums['Rok'])

2015

In [ ]:
# 9 Przygotuj listę najwcześniej wydanych albumów każdego artysty, który znalazł się na liście.

In [307]:

albums.iloc[[0,1,2,-2,-1]]

    Pos                                   Tytuł    Artysta   Rok
0     1                           GREATEST HITS      QUEEN  1981
1     2                    GOLD - GREATEST HITS       ABBA  1992
2     3    SGT PEPPER'S LONELY HEARTS CLUB BAND    BEATLES  1967
58   59  NEVER FORGET - THE ULTIMATE COLLECTION  TAKE THAT  2005
59   60                AUTOMATIC FOR THE PEOPLE        REM  1992

In [193]:
alSorted = albums.sort_values(by=['Artysta','Rok'])
alSortedPart =alSorted[['Artysta','Tytuł','Rok']]
#,"Tytuł","Rok"]

In [152]:
type(alSorted)

pandas.core.frame.DataFrame

In [309]:
minRok = albums.groupby(['Artysta']).min('Rok')["Rok"]
#type(minRok)
pd.set_option('display.max_rows', 5)# or None  # or 1000
print(minRok)
pd.set_option('display.max_rows', None)# or None  # or 1000

Artysta
ABBA     1975
ADELE    2011
         ...
U2       1987
VERVE    1997
Name: Rok, Length: 47, dtype: int64

In [310]:
almostThere = alSortedPart.join(minRok,on ="Artysta",lsuffix ="_x",rsuffix ="_y")
#almostThere

In [311]:
Finish =almostThere[almostThere['Rok_x'] == almostThere['Rok_y']][['Artysta','Tytuł','Rok_x']]

In [315]:
Finish.iloc[[0,1,2,-3,-2,-1]]

              Artysta               Tytuł  Rok_x
45               ABBA       GREATEST HITS   1975
3               ADELE                  21   2011
40  ALANIS MORISSETTE  JAGGED LITTLE PILL   1995
42             TRAVIS         THE MAN WHO   1999
35                 U2     THE JOSHUA TREE   1987
17              VERVE         URBAN HYMNS   1997

In [ ]:
#10 Save list to a csv. file

In [316]:
Finish.to_csv('GreatestHitList.csv', index = False)